extends layout.pug

block link

block style

  style.
    .title {
      font-family: 'Tangerine', serif;
      text-align: center;
    }
    main {
      padding: .5rem;
    }
    #image1 {
      width: 15rem;
      float: left;
    }

block content

  main
    h1.title About us
    img#image1(src="https://bartonphillips.net/images/allnatural/AdobeStock_91295220-1.png" alt="Cleaning Services in Albuquerque, NM")

    p The 
      b All Natural Cleaning Company 
      | is the first janitorial cleaning company in Albuquerque, New Mexico, and 
      | possibly the country, to use nothing but 100 percent natural cleaning products like white vinegar, 
      | baking soda, lemon, corn starch, hydrogen peroxide, flour, Isopropyl Alcohol, Lavender oil and many 
      | other naturally occurring products.

      p.
        We research each and every product before using it. We use only natural 
        products that we are familiar with. The majority of our products are 100 percent edible.

      p At the 
        b All Natural Cleaning Company 
        | we are trend setters. 
        | We are locally owned and operated right here in Albuquerque, New Mexico. We are ready to make a 
        | positive difference in people's lives. After we clean your home or office 
        | we will educate you on natural cleaning and show you how to do it 
        | yourself next time. We will also help you get rid of all the toxins stored 
        | around your house or office that are poisoning you slowly.

      p.
        Most if not all other cleaning companies use dangerous and potent 
        products to get the job done fast regardless of the health consequences to 
        their clients so they can move on to their other clients. Do you actually 
        know what kind of harmful chemicals are being used to clean your home 
        or work? You will be surprised.

      p.
        As for the so called &quot;Green&quot; cleaning products used by many janitorial 
        companies today, these products are being produced by the same 
        chemical companies that were producing the old toxic products. 
        Currently 98% of the so called &quot;Green&quot; products contain harmful chemicals.

      p.
        If you care about your health, the health of your loved ones, and those you work with; 
        Call us today #{info.__Phone}. Consultation is free.

      p 
        a(href="/getquote") Get a Quote 
        | or 
        a(href="/contact") call us for a quote

