extends layout.pug

block link

block style
  style.
    .title {
      font-family: 'Tangerine', serif;
      text-align: center;
    }
    main {
      padding: 1rem;
      background-image: url("https://bartonphillips.net/images/allnatural/AdobeStock_51734467.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    main >div {
      margin: auto;
      width: 70%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
    }
    main >div p {
      border: .2rem groove green;
      padding: .2rem;
      background-color: #FBF5E6;
    }
    main >form {
      width: 70%;
      opacity: 1;
      margin: auto;
      padding: 1rem;
      border: 1px solid black;
      background-color: white;
    }
    main >form p {
      text-align: center;
    } 
    main >form span {
      font-size: 1.5rem;
    }
    main >form table td {
      padding: .5rem;
    }
    pre {
      background-color: white;
      padding: 5px;
    }
    #getquote {
      width: 10rem;
      margin: 1rem auto;
    }
    #getquote .callus {
      display: inline-block;
      padding: 1rem;
      background-color: lightblue;
      border: 1px solid black;
      border-radius: .5rem;
      text-decoration: none;
      text-align: center;
    }
    @media (max-width: 760px) {
      main >form {
        margin-left: 1%;
        margin-right: .5%;
      }
      main table td {
        padding: .1rem;
      }
    }
    @media (max-width: 550px) {
      main >form {
        width: 95%;
      }
    }

block content
  main
    h1.title Contact Us
    div
      p Email Address
        br
        b All Natural Cleaning Company
        br
        | Email: 
        a(href="mailto:allnaturalcleaningcompany@gmail.com") allnaturalcleaningcompany@gmail.com

    form(method='post' action='/contactpost')
      p
        span Send Us an Email
        br
        | Please fill in this form.
      table
        tbody
          tr
            td Email Address
            td
              input#email(type='email' name='email' autofocus required)
          tr
            td Your Name
            td
              input#name(type='text' name='name' required)
          tr
            td Subject
            td
              input#subject(type='text' name='subject' value=info.value required)
          tr
            td Message
            td
              textarea#message(name='message' required)

      button(name='submit') Submit

    #getquote
      a.callus(href="getquote") Get A Quote
