extends layout.pug

block link

block style

  style.
    .title {
      font-family: 'Tangerine', serif;
      text-align: center;
    }
    main {
      padding: 1rem;
    }
    h1 {
      text-align: center;
    }
    select {
      background-color: white;
      font-size: 1rem;
    }
    span {
      color: red;
    }
    button {
      border: 1px solid black;
      border-radius: .5rem;
      background-color: green;
      color: white;
      padding: .5rem;
    }
    th {
      text-align: left;
    }
    pre {
      padding: 1rem;
    }
    .center {
      text-align: center;
    }

block content

  main
    h1.title Get A Quote

    h2.center All Natural Cleaning Company

    p
      span Items with an * are required.

    form(action="/getquotepost" method="post")
      table
        tbody
          tr
            th Full Name 
              span *
            td
              input(type="text" autofocus required name="name")
          tr
            th E-mail 
              span *
            td
              input(type="email" name="email" required)
          tr
            th Phone Number 
              span *
            td
              input(type="tel" name="phone" class="phone" required)
          tr
            th Address
            td
              input(type="text" name="address")
          tr
            th City
            td
              input(type="text" name="city")
          tr
            th State
            td
              input(type="text" name="state")
          tr
            th Zip Code
            td
              input(type="zipcode" name="zipcode")
          tr
            th Type of Service
            td
              select(name="service")
                option Residential Cleaning
                option Commercial Cleaning
                option Other ('Additional Info' below)
          tr
            th Frequency
            td
              select(name="frequency")
                option One Time
                option Weekly
                option Every Other Week
                option Monthly
                option Other ('Additional Info' below)
          tr
            th Approx. Square Footage
            td
              input(type="number" name="sqrfeet")
          tr
            th Additional Info
            td
              textarea(name="extrainfo")

      button(type="submit") Get A Quote

    p Or 
      a(href="contact.php") Call up for a quote #{info.__Phone}

