extends layout.pug

block link

block style
  style.
    main {
      padding: .5rem;
    }
    .title {
      font-family: 'Tangerine', serif;
      text-align: center;
    }
    div.flex {
      display: flex;
      justify-content: space-between;
    }
    #image1 {
      float: right;
      width: 10rem;
    }
    .callus {
      display: inline-block;
      padding: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      background-color: lightblue;
      border: 1px solid black;
      border-radius: .5rem;
      text-decoration: none;
    }

block content

  main
    h1.title All Natural Cleaning Company Basic Plan
    h2 Residential Home Cleaning - Basic plan
      br
      | 100% natural - chemical free

    img#image1(src="https://bartonphillips.net/images/allnatural/AdobeStock_40037375-3.png")

    ul
      li Cleaning the toilets, vanities, sinks and backsplash
      li Cleaning bathtub, showers (including tile and glass)
      li Cleaning and wiping kitchen appliances (the outside surfaces)
      li Clean, wipe and disinfect kitchen and bathroom cabinets from the outside
      li Clean the kitchen sink, countertops and backsplashes
      li Clean Stove tops and microwaves
      li Wash dishes
      li Dusting picture frames, lamps, ceiling fans
      li Wiping window sills and ledges
      li Mirrors cleaning
      li Wood flooring sweeping and cleaning
      li Carpets vacuuming
      li All bare floor surfaces, area rugs, stair cases dusting then vacuuming
      li Floors sweeping and mopping
      li Pick up and straighten rooms
      li Make beds
      li Trash disposal

    p We will clean anything you would like us to, please notify us ahead of time so we can bring the 
      proper cleaning items and equipment.

    a.callus(href="/residentialextensive") Extensive Plan

    p
      a(href="/getquote") Get a Quote
      |  or 
      a(href="/contact") call us for a quote
